.header_1 {
    width: auto;
    height: 3%;
    background-color: #f1f1f1;
    margin: 0%;
    clear: both;
}

.language {
    margin-left: 50%;
    display: inline-flex;
}

.language .fas {
    color: #999999;
}

.ul-header_1 {
    display: inline-flex;
    list-style: none;
    margin-left: 16%;
    padding: 5px 0px 5px;
    margin-bottom:  auto;
}

.fab {
   margin: 0px 10px 0px;
}

.fas {
    padding-top: 4px;
}

.ul-header_1 li a {
    color: #999999;
}

.ul-header_1 li:hover {
    background-color: #fafafa;
}

.ul-header_1 li {
    border-right: 1px solid #e3e3e3;
}

select {
    border: 0px solid;
    background-color: #f1f1f1;
}

.header_2 {
    background-color: rgb(255, 255, 255);
}

.logo img:hover {
    opacity: 0.85;
}

.logo a img {
    width: 200px;
}

.logo {
    display: inline-flex;
    margin: 20px 0px;
}

img {
    max-width: 100%;
    height: auto;
}

.a-header_2 {
    margin: 0% 10px 0px;
    text-transform: uppercase;
    color: rgb(53, 52, 52);
    text-decoration: none;
}

a:hover {
    color: black;
}

a:active {
    color: red;
}

.row {
    margin-left: 10%;
}

.ul-header_2 {
    display: inline-flex;
    font-weight: bold;
    list-style: none;
    margin-top: 7%;
    text-transform: uppercase;
}

.ul-header_2 .active {
    color: red;
}

.site-slogan {
    margin-top: -20px;
    font-size: 15px;
    font-style: italic;
    color: #999999;
}

.div-tool {
    position: fixed;
    border: 1px solid rgb(216, 215, 215);
    width: 3%;
    width: 3%;
    margin-top: 33px;
    margin-left: 15px;
    background-color: #ffffff;
}

.tool {
    width: 45px;
    height: 45px;
    padding: 5px;
}

.menu-header_2 {
    margin-left: 9%;
    width:37%; 
    float: left;
}

.menu-right {
    float:right;
}

.logo-hero {
    width:20%;
    float: left;
    margin-left: 16%;
}

.ul-header_2 li {
    padding-left: 53px;
}

.ul-header_2 li a {
    text-decoration: none;
    color: rgb(53, 52, 52);
}

.ul-header_2 li a:hover {
    color: rgb(0, 0, 0);
}

.ul-header_2 li a:active {
    color: rgb(179, 1, 1);
}

.header_2_content {
    width: 100%;
    height: 136px;
}

.slider {
    height: 20%;
    width: 100%;
}

.page-top {
    padding: 40px 0;
}

.call-to-action {
    padding: 10px 25px;
    text-align: center;
}

.call-to-action .btn {
    margin: 10px 5px;
    text-transform: uppercase;
}

.call-to-action .btn:hover {
    background-color: red;
    color: white !important;
}

.lead {
    font-size: 21;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
}

.pl-10 {
    padding-left: 10px;
}

.section-service {
    background-color: #f1f1f1;
}

.separator {
    display: block;
    width: 60px;
    height: 5px;
    margin: 15px auto 15px;
    background-color: #cccccc;
    position: relative;
    border: 1px solid #cccccc;
}

.separator:after {
    width: 30px;
    height: 5px;
    background: #333333;
    position: absolute;
    top: -1px;
    left: -1px;
    content: "";
}

.box-style-1 {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    background-color: #ffffff
}

.box-style-1 i {
    font-size: 90px;
    margin: 15px 0 5px;
    text-align: center;
}

.box-style-1 i:hover {
    color: red !important;
    opacity: inherit;
}

.box-style-1 .btn {
    color: #ffffff;
    border-radius: 0px;
    background-color: red;
    margin: 10px 5px;
    text-transform: uppercase;
}

.box-style-1 .btn:hover {
    background-color: rgb(214, 58, 58);
    color: #fafafa;
}

.imgAboutus {
    width: 200px;
}

.col-md-6 .btn:hover {
    background-color: red;
    color: #ffffff !important;
}

.collapse {
    position: relative;
}

.contact-us {
    width: 100%;
}

.contact-us img {
    height: 217px;
    width: 100%;
    opacity: 0.5;
    position: absolute;
}

.contact-us .container {
    height: 217px;
}

.vertical {
    background-color: #fafafa;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /************footer***************/

#footer-top {
    padding: 25px 0;
    background-color: #f1f1f1;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.13) !important;
    position: relative;
}

blockquote {
    border-left: none;
    display: flex;
    margin: 20px auto 20px;
    font-size: 16px;
    position: relative;
    padding: 10px 10px 10px 0px;
    /* margin-left: 40px; */
}

.blockquote-footer {
    font-size: 12px;
    margin-top: 30px;
}

blockquote p {
    width: 60%;
    display: inline-block;
    margin: 0;
}

blockquote:after {
    content: "“";
    width: 25px;
    height: 25px;
    line-height: 64px;
    font-size: 64px;
    font-family: 'PT Serif', serif;
    position: absolute;
    top: 12px;
    left: -45px;
}

.author {
    float: right;
}

.logo-footer {
    height: 50px;
    width: auto;
}

.footer-container {
    font-size: 14px;
    color: #999999;
    padding: 30px 0;
    background-color: #262626;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #333333;
}

.footer-text {
    font-size: 14px;
    color: #999999;
}

.link {
    padding-right: 23px;
    position: relative;
    display: inline-block;
    text-align: right;
    color: red;
}

.icon-footer {
    list-style-type: none;
}

.pr-10 {
    margin-right: 10px;
}

.nav-pills {
    display: block;
}

.nav-pills>.li-footer>a {
    color: #999999;
}

.nav-pills>.li-footer:hover {
    transition: all 0.2s ease-in-out;
}

.button-contact {
    margin-top: 40px;
}

.arrow {
    margin-left: 60px;
    font-weight: bold;
}

.social-link {
    list-style: none;
    padding: 0;
    margin: 40px 0 20px 0;
    display: flex;
}

.pinterest {
    border: none;
}

.social-link li a i {
    line-height: 44px;
}

.social-link li a {
    color: #666;
    background-color: transparent;
    border-color: #666;
}

.social-link.circle li a {
    border-radius: 100%;
}

.social-link li {
    margin: 0 5px 5px 0;
}

.social-link li a {
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    font-size: 20px;
    background: #262626;
    border: 1px solid #928d8c;
    color: #5d5b5b;
}

.social-link .facebook-f a:hover {
    background: #1747CA;
    color: white;
}

.social-link .twitter-f a:hover {
    background: #337ab7;
    color: white;
}

.social-link .googleplus-f a:hover {
    background: #e84c3d;
    color: white;
}

.social-link .skype-f a:hover {
    background: #337ab7;
    color: white;
}

.social-link .linkedin-f a:hover {
    background: #0976b4;
    color: white;
}

.circle {
    border-radius: 100%;
}

.footer-bottom {
    padding: 25px 0;
    background-color: #000;
}

.nav-link-f {
    color: #999999 !important;
    border-right: 1px solid gray;
    margin-right: 10px;
    padding-right: 5px;
}

.nav-link-foot {
    color: #999999 !important;
}

.nav-item .f-active {
    color: red !important;
    border-right: 1px solid #666;
    margin-right: 10px;
    padding-right: 5px;
}

/*css body*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.50;
    color: #666666;
}

h1 {
    margin: .67em 0;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase
}

h1, h2, h3 {
    color: #343434;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 10px;
}